body {
  margin: 0;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arrow {
  width: 30%;
  margin: 0px;
}

#topLeftArrow {
  margin-left: 75%;
  margin-top: 50%;
  transform: rotate(45deg);
}

#topRightArrow {
  margin-top: 60%;
  margin-right: 75%;
  margin-left: -5%;
  transform: rotate(135deg);
}

#bottomLeftArrow {
  margin-bottom: 60%;
  margin-left: 75%;
  margin-right: 0%;
  transform: rotate(315deg)
}

#bottomRightArrow {
  transform: rotate(225deg);
  margin-right: 75%;
  margin-left: -5%;
  margin-bottom: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#circle {
  cursor: pointer; 
}

td {
  position: relative;
  text-align: center;
  padding: 0px;
}

.circleDiv {
  position: absolute;
  z-index: -1;
}

/* .square {
  background-color: green;
} */

.circleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.schema {
  position:absolute;
  width: 25%;
  height: 25%;
}

a {
  text-decoration: none;
  color: inherit;
}

